* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

.timeagoclass {
  font-size: 0.8rem;
}

@media screen and (max-width: 320px) {
  .timeagoclass {
    font-size: 0.6rem;
  }
}

.custom-img {
  object-fit: contain;
  width: 90% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 20vw;
}
.unset-img > div {
  position: unset !important;
}
